*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background:rgb(4, 42, 59);
    font-family: 'Lato', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
/* .container{
  margin:100px;
  border:2px solid #fff;
  border-radius:16px;
  padding:30px;
  text-align: center;

}
#main-heading{
    color:#fff;
    font-size:30px;
}
ul{
    margin-top:10px;
}
ul li{
 list-style:none;
height:35px;
margin-top:3px;
}
.list-items{
 text-align:center;
 background:#fff;
 font-size:18px;
 padding:10px;

 
}
.second-container{
    margin:20px auto;
    color:#fff;
   

}
.second-container>h1{
    text-align:center;

}
.flex-method{
    display:flex;
    align-items:center;
    justify-content: space-around;
    margin-top:20px;
   
}
.divs{
    border:1px solid #ffff;
    border-radius:16px;
    padding-top:20px;
    height:150px;
    width:100px;
    text-align:center;
}
button{
    margin:60px auto;
    width:80px;
    height:30px;
  background-color: transparent;
  border:1.5px solid #fff;
  border-radius:5px;
  color:#fff;
  
  
}
.container2{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    margin:auto 20px;
    color: #fff;
 
 

}

.boxes{
    border: 1px solid #ffff;
    border-radius:5px;
    height:250px;
    text-align:center;
  
  
    
   
}
.hidden-content{
 
    display: none;
   
}
.hidden-content.reveal-btn{
    display:block;
} */
.div2{
    border:3px solid #fff;
    margin: 150px; 
    color:#fff;
    text-align:center;
    width:200px;
    height:200px;
    border-radius:10px;
    font-size:26px;

}
.div1{
    border:2px solid #fff;
    border-radius:5px;
    width:100px;
    height:100px;
    margin:30px auto;
    text-align:center;

}
button{
    display:block;
    font-size: 20px;
    color:#fff;
    background:none;
    border:2px solid #fff;
    margin:20px auto;
    width:80px;
    border-radius:5px;

}

